---
layout: workshop
title: Workshop
collection-limit: 4
reskin-limit: 20
---

  <!-- Swiper JS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../tinglejs/tingle.css">
  <script src="../tinglejs/tingle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    function DlPlusOne(value) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "https://api.countapi.xyz/hit/JumpKingPlus/level"+value);
        xhr.send();
    }
  </script>

  {% include_relative workshop/featured.html %}
  {% include_relative workshop/reskins.html %}
  {% include_relative workshop/skincollections.html %}
  {% include_relative workshop/levels.html %}