---
layout: wsdefault
title: Workshop
---
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  
  <h1>Welcome to the Workshop!</h1>
  <h3 style="margin-bottom: 30px;">Currently work in progress for a future update...</h3>

  <div class="blr">
    
    <h2>Featured</h2>

    <h2>Latest reskins&nbsp;
      <span class="rounded-full level-tag" style="display: inline;font-size: smaller;">New!</span>
    </h2>
    <div class="reskins">



      <div class="swiper-button-prev"><div class="gradient-prev"></div></div>

      <div class="swiper-container swiper-reskins">
        <div class="swiper-wrapper">
      {% for rskin in site.reskins reversed %}
          <div class="swiper-slide">
            <div class="card">
              <div class="typology">
                <img src="https://raw.githubusercontent.com/Phoenixx19/JumpKingPlus/www/reskins/files/{{ rskin.base }}.png" alt="{{ rskin.base }}" title="{{ rskin.base }}">
              </div>
              <img
                src="{{ rskin.images[0] }}"
                alt="{{ rskin.title }}"
                onmouseover="this.src='{{ rskin.images[1] }}'"
                onmouseout="this.src='{{ rskin.images[0] }}'"
              >
              <div class="details">
                <div class="title-level">{{ rskin.title }}</div>
                <span class="author-level">
                  <ion-icon name="person"></ion-icon> {{ rskin.Author }}
                </span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      
        <div class="swiper-button-next"><div class="gradient-next"></div></div>
      

      <!-- Swiper JS -->
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
      <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper(".swiper-reskins", {
          slidesPerView: "auto",
          spaceBetween: 20,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          }
        });
      </script>

    </div>

  </div>

  <h2>Latest levels&nbsp;
    <a href="{{ site.baseurl }}/faq/#how-do-i-install-a-custom-level" style="display: inline-block;">
      <span class="badge-pill" style="font-size: smaller;">Installation method</span>
    </a>
  </h2>

  <div class="levels">
    {% for level in site.workshop reversed %}
      {% if level.hidden == false %}
        <div class="card">
          <a href="{{ site.baseurl }}{{ level.id }}">
            <img src="{{ level.images[0] }}" style="border-radius: 0; margin: 0; object-fit: cover;"
                  alt="{{ level.title }} by {{ level.Author }}">
          </a>
          <div class="details">
            <div class="title-level">
              <a href="{{ site.baseurl }}{{ level.id }}">
                <span>{{ level.title }}</span>
              </a>
              {% if level.bitly %}
                <a class="dl-button" href="https://bit.ly/{{ level.bitly }}" title="Download">
                  <ion-icon name="download"></ion-icon>
                </a>
              {% endif %}
            </div>
            <span class="author-level">
              <ion-icon name="person"></ion-icon> {{ level.Author }}
            </span>
            <p class="desc">
              {{ level.excerpt | truncate: 300 }}
            </p>
            <div class="details" style="padding: 0;">

              {% for tag in level.tags %}
              <a class="tag-link" href="{{ site.url }}{{ site.baseurl }}/workshop/tags#{{ tag }}">
                <span class="rounded-full level-tag">
                  <span style="color: #868e96;">#</span>{{ tag }}
                </span>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <script src="https://unpkg.com/magic-grid/dist/magic-grid.min.js"></script>
  <script>
    let magicGrid = new MagicGrid({
      container: ".levels", // Required. Can be a class, id, or an HTMLElement.
      static: true, // Required for static content.
      gutter: 40, // Optional. Space between items. Default: 25(px).
      maxColumns: 2, // Optional. Maximum number of columns. Default: Infinite.
    });

    magicGrid.listen();
  </script>
  