    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="author" content="{{ site.title }}" />

    <link type="application/json+oembed" href="https://raw.githubusercontent.com/Phoenixx19/JumpKingPlus/www/oembed.json">
    

    {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt | strip_html }}" />
        <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
    {% else %}
        <meta name="description" content="{{ site.description }}">
        <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.baseurl }}">

    <meta property="og:locale" content="en_US">

    {% if page.type == 'workshop' or page.path contains "workshop" or page.path contains "docs" %}
        <meta name="theme-color" content="#2f9e44">
        <meta property="og:image" content="https://raw.githubusercontent.com/Phoenixx19/JumpKingPlus/www/images/jkcustomapslogo.png">
    {% elsif page.layout == "level" %}
        <meta name="theme-color" content="#2f9e44">
        <meta property="og:image" content="{{ page.images[0] }}">
        <meta name="twitter:card" content="summary_large_image">
    {% else %}
        <meta name="theme-color" content="#ff0000">
        <meta property="og:image" content="https://raw.githubusercontent.com/Phoenixx19/JumpKingPlus/www/images/jkpluslogo.png">
    {% endif %}

    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="twitter:title" content="{{ page.title }}" />
    {% else %}
        <meta property="og:title" content="{{ site.title }}" />
    {% endif %}