<div class="category">

    <h2 class="ws-titles">Latest levels&nbsp;
      <span>
        <a class="button btn--primary btn-demo js-tingle-modal-3" style="display: inline-block;">
          <span class="badge-pill"><ion-icon name="help-circle"></ion-icon> Installation method</span>
        </a>
        <a class="button" href="{{ site.baseurl }}/workshop/all">
          <span class="badge-pill">
            See all <ion-icon name="arrow-forward"></ion-icon>
          </span>
        </a>
      </span>
    </h2>

    <!-- Tingle tiny content -->
    <div class="tingle-tiny-3" style="display: none;">
      <h1>Adding and removing a custom level</h1>
      <hr>
      <h3>Video tutorial</h3>
      <iframe src="https://www.youtube-nocookie.com/embed/1encOb7Rs6o?autoplay=0" allowfullscreen="" width="100%" height="600" frameborder="0"></iframe>
      <h3 style="margin-top: 1rem;">Text explaination</h3>
      <h4 class="question">How do I install a custom level?</h4>
      <ol>
          <li>Find a level you would like to play in the workshop section, download it using the Download button.</li>
          <li>Open the .zip file.</li>
          <li>Replace the <code class="language-plaintext highlighter-rouge">Jump King/Content/mods</code> folder with the <code class="language-plaintext highlighter-rouge">mods</code> folder inside the .zip file.</li>
          <li>(optional) Make sure the level.xnb and mod.xml file exist.</li>
          <li>Open Jump King and click on New Game (unless you have a save for it).</li>
          <li>Profit.</li>
      </ol>
      <h4 class="question">How do I uninstall a custom level?</h4>
      <p>It’s even more simple.<br>Just delete (or rename with something else) the <code class="language-plaintext highlighter-rouge">mods</code> folder or what’s inside of it.</p>
    </div>
  <!-- /Tingle tiny content -->

    <script type="text/javascript">
        var modalTinyNoFooter3 = new tingle.modal({
            onClose: function () { },
            onOpen: function() {
              var close = document.querySelectorAll(".tingle-modal__close")[2];
              var modalContent = document.querySelectorAll(".tingle-modal-box__content")[2];
              modalContent.appendChild(close);
            },
            beforeOpen: function () { },
            beforeClose: function () { return true; },
            //cssClass: ['class1', 'class2']
        });
        var btn = document.querySelector('.js-tingle-modal-3');
        btn.addEventListener('click', function () {
            modalTinyNoFooter3.open();
        });
        modalTinyNoFooter3.setContent(document.querySelector('.tingle-tiny-3').innerHTML);
    </script>

    <div class="levels">

      <div class="card wip">
        <div class="details">
          <div class="title-level">
              <h1>3</h1>
              <span><span class="underlined">new</span> levels</span>
              <p class="desc">
                are currently being worked on.
              </p>
          </div>
        </div>
      </div>

      {% for level in site.workshop reversed limit: 8 %}
        {% if level.hidden == false %}
          <div class="card">
            <a href="{{ site.baseurl }}{{ level.id }}">
              <img src="{{ level.images[0] }}" style="border-radius: 0; margin: 0; object-fit: cover;"
                    alt="{{ level.title }} by {{ level.Author }}">
            </a>
            <div class="details">
              <div class="title-level">
                <a href="{{ site.baseurl }}{{ level.id }}">
                  <span>{{ level.title }}</span>
                </a>
                {% if level.bitly %}
                  <a class="dl-button" href="https://bit.ly/{{ level.bitly }}" title="Download" onclick="DlPlusOne({{ level.levelId }})">
                    <ion-icon name="download"></ion-icon>
                  </a>
                {% endif %}
              </div>
              <span class="author-level">
                <ion-icon name="person"></ion-icon> {{ level.Author }}
              </span>
              <p class="desc">
                {{ level.excerpt | truncate: 300 }}
              </p>
              <div class="details" style="padding: 0;">

                {% for tag in level.tags %}
                <a class="tag-link" href="{{ site.url }}{{ site.baseurl }}/workshop/tags/?tag={{ tag }}">
                  <span class="rounded-full level-tag">
                    <span style="color: #868e96;">#</span>{{ tag }}
                  </span>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <script src="https://unpkg.com/magic-grid/dist/magic-grid.min.js"></script>
    <script>
      let magicGrid = new MagicGrid({
        container: ".levels", // Required. Can be a class, id, or an HTMLElement.
        static: true, // Required for static content.
        gutter: 40, // Optional. Space between items. Default: 25(px).
        maxColumns: 2, // Optional. Maximum number of columns. Default: Infinite.
      });

      magicGrid.listen();
    </script>
  </div>