---
layout: default
---

<style>
    .swiper-slide {
        width: auto!important;
        max-width: 70%;
        max-height: 378px;
    }
    .swiper-slide img {
        display: block;
        width: auto;
        height: 378px;
        object-fit: cover;
        margin: 0;
        border-radius: 10px;
    }
</style>

<div id="blurred" class="blurred" style="background-image: url({{ page.images[0] }});"></div>

<script>
    function DlPlusOne() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "https://api.countapi.xyz/hit/JumpKingPlus/level{{ page.levelId }}");
        xhr.send();
    }
</script>

<article class="page level header">
    <div class="container">
        <div class="entry">

            {% if page.hidden == true %}
                <h1>Nothing to see here...</h1>
                <span class="author-level">...yet! ;)</span>
            {% endif %}
            
            {% unless page.hidden %}
            
            {% for tag in page.tags %}
            <a class="tag-link" href="{{ site.url }}{{ site.baseurl }}/workshop/tags/?tag={{ tag }}">
                <span class="rounded-full level-tag">
                    <span style="color: #868e96;">#</span>{{ tag }}
                </span>
            </a>
            {% endfor %}

            <h1>{{ page.title }}
                {% if page.versions %}
                    {% for version in page.versions %}
                        {% if version.hidden == false %}
                            <a class="dl-button" onclick="DlPlusOne()"
                                href="https://bit.ly/{{ version.bitly }}" style="margin-left: 1rem;"
                                title="{{ version.name }}">
                                {{ version.short }} <ion-icon name="download"></ion-icon>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if page.bitly %}
                    <a class="dl-button" onclick="DlPlusOne()"
                        href="https://bit.ly/{{ page.bitly }}"
                        title="Download">
                        Download <ion-icon name="download"></ion-icon>
                    </a>
                {% endif %}
            </h1>

            <span class="author-level">
                <ion-icon name="person"></ion-icon> by {{ page.Author }}
                <span style="float: right;">
                    from {{ page.version-start }} to {{ page.version-end }}
                    {% if page.version-end == "latest" %}
                    <ion-icon name="checkmark-sharp"></ion-icon>
                    {% else %}
                    <ion-icon name="close-sharp"></ion-icon>
                    {% endif %}
                </span>
            </span>

            {{ content }}

            <hr />
            
            <div id="details">
                <!-- IMAGES -->
                {% assign imgList = page.images | size %}
                {% if imgList != 0 %}
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper">
                    {% if page.video %}
                        <div class="swiper-slide">
                            <iframe width="672" height="378" src="https://www.youtube-nocookie.com/embed/{{ page.video }}?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    {% for image in page.images %}
                        <div class="swiper-slide">
                            <img src="{{ image }}">
                        </div>
                    {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <script>
                    let desc = document.getElementById("description");
                    let deta = document.getElementById("details");
                    deta.append(...desc.childNodes);
                </script>

                <!-- Swiper JS -->
                <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
                <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
                <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper(".mySwiper", {
                    slidesPerView: "auto",
                    centeredSlides: true,
                    /*
                    autoplay: {
                        delay: 7500,
                        disableOnInteraction: true,
                    }, */
                    spaceBetween: 20,
                    loop: true,
                    mousewheel: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    });
                </script>
                {% endif %}

                <div class="details" style="padding: 0;">
                    <h2>Details</h2>
                    <table>
                        <tr>
                            <td>Workshop ID</td>
                            <td><code>{{ page.levelId }}</code></td>
                        </tr>
                        <tr>
                            <td>Release date</td>
                            <td>{{ page.date  | date: "%-d %B %Y" }}</td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>{{ page.Author }}</td>
                        </tr>
                        {% if page.Helpers %}
                        <tr>
                            <td>Helpers</td>
                            <td>{% for helper in page.Helpers %}
                                <span style="display: block;">{{ helper }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Compatibility</td>
                            <td>From <b>{{ page.version-start }}</b> to <b>{{ page.version-end }}</b></td>
                        </tr>
                        <tr>
                            <td>Total downloads <span class="rounded-full level-tag" style="display: inline;font-size: smaller;">using <a href="https://countapi.xyz/">CountAPI</a></span></td>
                            <td id="downloads">Loading...</td>
                        </tr>
                        <script>
                            function cb(response) {
                                document.getElementById('downloads').innerText = response.value;
                            }
                        </script>
                        <script async src="https://api.countapi.xyz/info/JumpKingPlus/level{{ page.levelId }}?callback=cb"></script>
                        <tr>
                            <td>Best time <span class="rounded-full level-tag" style="display: inline;font-size: smaller;">from <a href="https://www.speedrun.com/jump_king_custom_maps">Speedrun.com</a></span></td>
                            {% if page.speedrun %}
                                <td id="speedrun">Loading...</td>
                            {% else %}
                                <td>Not eligible</td>
                            {% endif %}
                        </tr>
                        {% if page.speedrun %}
                            <script>
                                let durationFragments = [
                                    'years',
                                    'months',
                                    'weeks',
                                    'days',
                                    'hours',
                                    'minutes',
                                    'seconds',
                                    'milliseconds'
                                ];

                                class Duration {
                                    constructor (durationString) {
                                        if (!durationString) {
                                            return this
                                        }

                                        console.assert(
                                            typeof durationString === 'string',
                                            'Type of argument must be "string" and not "' +
                                            typeof durationString + '"'
                                        )

                                        let durationPattern =
                                            '^P' +
                                            '(?:([0-9]+)Y)?' + // Years
                                            '(?:([0-9]+)M)?' + // Months
                                            '(?:([0-9]+)W)?' + // Weeks
                                            '(?:([0-9]+)D)?' + // Days
                                            'T?' +
                                            '(?:([0-9]+)H)?' + // Hours
                                            '(?:([0-9]+)M)?' + // Minutes
                                            '(?:([0-9]+)?' +   // Seconds
                                            '(?:\\.([0-9]{1,3}))?S)?' + // Milliseconds
                                            '$'

                                        let regex = new RegExp(durationPattern, 'i')
                                        let durationArray = durationString.match(regex)

                                        console.assert(
                                            durationArray,
                                            `"${durationString}" is an invalid duration string`
                                        )

                                        // Milliseconds
                                        durationArray[8] = Number('0.' + durationArray[8]) * 1000

                                        durationFragments.forEach((fragment, index) => {
                                            let value = Number(durationArray[index + 1])

                                            if (typeof value === 'number' && !Number.isNaN(value)) {
                                                this['_' + fragment] = value
                                            }
                                        })
                                    }

                                    get years () { return this._years }
                                    set years (years) { this._years = years }
                                    setYears (years) { this.years = years; return this }

                                    get months () { return this._months }
                                    set months (months) { this._months = months }
                                    setMonths (months) { this.months = months; return this }

                                    get weeks () { return this._weeks }
                                    set weeks (weeks) { this._weeks = weeks }
                                    setWeeks (weeks) { this.weeks = weeks; return this }

                                    get days () { return this._days }
                                    set days (days) { this._days = days }
                                    setDays (days) { this.days = days; return this }

                                    get hours () { return this._hours }
                                    set hours (hours) { this._hours = hours }
                                    setHours (hours) { this.hours = hours; return this }

                                    get minutes () { return this._minutes}
                                    set minutes (minutes) { this._minutes = minutes }
                                    setMinutes (minutes) { this.minutes = minutes; return this }

                                    get seconds () { return this._seconds}
                                    set seconds (seconds) { this._seconds = seconds }
                                    setSeconds (seconds) { this.seconds = seconds; return this  }

                                    get milliseconds () { return this._milliseconds }
                                    set milliseconds (milliseconds) { this._milliseconds = milliseconds }
                                    setMilliseconds (milliseconds) { this.milliseconds = milliseconds; return this }
                                }

                                async function GET(url) {
                                    const response = await fetch(url);
                                    const json = await response.json();
                                    return json;
                                }

                                GET("https://www.speedrun.com/api/v1/leaderboards/pd0q5231/category/{{ page.speedrun }}").then(success => {
                                    let timestamp = new Duration(success.data.runs[0].run.times.primary);
                                    let recordTime = timestamp.minutes + ":" + timestamp.seconds + "." + timestamp.milliseconds;
                                    GET(success.data.runs[0].run.players[0].uri).then(success2 => {
                                        document.getElementById('speedrun').innerHTML = "<strong>"+recordTime + "</strong> by <i>" + success2.data.names.international + "</i>";
                                    }).then(success3 => {
                                        document.getElementById('speedrun').innerHTML += " <a target='_blank' href='" + success.data.runs[0].run.videos.links[0].uri +"'><ion-icon name='open'></ion-icon></a>";
                                    })
                                })
                            </script>
                        {% endif %}
                    </table>
                </div>
            {% endunless %}
            </div>

        </div> 
    </div>
</article>