---
layout: levelbase
---

<div class="blurred" style="background-image: url({{ page.images[0] }});"></div>
        
<article class="page level">
    <div class="container">
        <div class="entry">

            {% if page.hidden == true %}
                <h1>Nothing to see here...</h1>
                <span class="author-level">...yet! ;)</span>
            {% endif %}
            
            {% unless page.hidden %}
            <h1>{{ page.title }}
                {% if page.bitly2 %}
                    <a class="dl-button" href="https://bit.ly/{{ page.bitly2 }}" style="margin-left: 1rem;" title="Mirror, if the download doesn't work">
                        Mirror <ion-icon name="download"></ion-icon>
                    </a>
                {% endif %}
                {% if page.bitly %}
                    <a class="dl-button" href="https://bit.ly/{{ page.bitly }}" title="Download">
                        Download <ion-icon name="download"></ion-icon>
                    </a>
                {% endif %}
            </h1>

            <span class="author-level">
                <ion-icon name="person"></ion-icon> by {{ page.Author }}
                <span style="float: right;">
                    from {{ page.version-start }} to {{ page.version-end }}
                    {% if page.version-end == "latest" %}
                    <ion-icon name="checkmark-sharp"></ion-icon>
                    {% else %}
                    <ion-icon name="close-sharp"></ion-icon>
                    {% endif %}
                </span>
            </span>

            {{ content }}

            <hr />
            
            <div id="details">
                <!-- IMAGES -->
                {% assign imgList = page.images | size %}
                {% if imgList != 0 %}
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper">
                    {% if page.video %}
                        <div class="swiper-slide">
                            <iframe width="672" height="378" src="https://www.youtube-nocookie.com/embed/{{ page.video }}?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    {% for image in page.images %}
                        <div class="swiper-slide">
                            <img src="{{ image }}">
                        </div>
                    {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <script>
                    let desc = document.getElementById("description");
                    let deta = document.getElementById("details");
                    deta.append(...desc.childNodes);
                </script>

                <!-- Swiper JS -->
                <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
                <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
                <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper(".mySwiper", {
                    slidesPerView: "auto",
                    centeredSlides: true,
                    /*
                    autoplay: {
                        delay: 7500,
                        disableOnInteraction: true,
                    }, */
                    spaceBetween: 20,
                    loop: true,
                    mousewheel: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    });
                </script>
                {% endif %}

                <div class="details" style="padding: 0;">
                    <h2>Details</h2>
                    <table>
                        <tr>
                            <td>Workshop ID</td>
                            <td><code>{{ page.levelId }}</code></td>
                        </tr>
                        <tr>
                            <td>Release date</td>
                            <td>{{ page.date  | date: "%-d %B %Y" }}</td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>{{ page.Author }}</td>
                        </tr>
                        {% if page.Helpers %}
                        <tr>
                            <td>Helpers</td>
                            <td>{% for helper in page.Helpers %}
                                <span style="display: block;">{{ helper }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Compatibility</td>
                            <td>From <b>{{ page.version-start }}</b> to <b>{{ page.version-end }}</b></td>
                        </tr>
                        <tr>
                            <td>Tags</td>
                            <td>
                                {% for tag in page.tags %}
                                <a class="tag-link" href="{{ site.url }}{{ site.baseurl }}/workshop/tags#{{ tag }}">
                                <span class="rounded-full level-tag">
                                    <span style="color: #868e96;">#</span>{{ tag }}
                                </span>
                                </a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% if page.bitly %}
                            <tr>
                                <td>Downloads <span class="rounded-full level-tag">BETA</span></td>
                                <td id="bitly">Loading...</td>
                            </tr>
                            <script>
                                async function GET(url) {
                                    const response = await fetch(url, {
                                        headers: {
                                            'Authorization': 'Bearer 7f05c8ea219d6e248bef62926eebb83954f9bef4'
                                        }
                                    })
                                    const json = await response.json();
                                    return json;
                                }

                                GET("https://api-ssl.bitly.com/v4/bitlinks/bit.ly/{{ page.bitly }}/clicks/summary?units=-1")
                                    .then(success => document.getElementById('bitly').innerHTML = success.total_clicks)
                            </script>
                            {% if page.bitly2 %}
                            <script>
                                GET("https://api-ssl.bitly.com/v4/bitlinks/bit.ly/{{ page.bitly2 }}/clicks/summary?units=-1")
                                    .then(success => {
                                        let totalDls = document.getElementById('bitly').innerHTML;
                                        totalDls = Number(totalDls) + success.total_clicks;
                                        document.getElementById('bitly').innerHTML = totalDls;
                                    })
                            </script>
                            {% endif %}
                        {% endif %}
                    </table>
                </div>
            {% endunless %}
            </div>

        </div> 
    </div>
</article>