---
layout: default
---

        <div class="blurred" id="workshop-img">
            <div class="the-new-workshop-woohoo">
                <h1>The JumpKingPlus' <span>workshop</span>!</h1>
                <p>Your place to find new <span>levels</span>, <span>skins</span> and <span>collections</span> for Jump King.</p>
            </div>
        </div>
        <script>
            let imgArr = [
                // reskins
                {% for reskin in site.reskins %}
                  "https://raw.githubusercontent.com/Phoenixx19/JumpKingPlus/www/images/workshop/reskins/{{ forloop.index }}-banner.png",
                {% endfor %}
                // collections
                {% for collection in site.skincollections %}
                  "https://raw.githubusercontent.com/Phoenixx19/JumpKingPlus/www/images/workshop/collections/{{ forloop.index }}-banner.png",
                {% endfor %}
                // levels
                {% for level in site.workshop %}
                  "https://raw.githubusercontent.com/Phoenixx19/JumpKingPlus/www/images/workshop/levels/ws{{ forloop.index }}-banner.png",
                  "https://raw.githubusercontent.com/Phoenixx19/JumpKingPlus/www/images/workshop/levels/ws{{ forloop.index }}-2.png",
                {% endfor %}
                // whatever
                "https://media.discordapp.net/attachments/623779998494490624/884121913776046170/unknown.png",
                "https://media.discordapp.net/attachments/623779998494490624/877079317664907314/unknown.png",
                "https://media.discordapp.net/attachments/623779998494490624/875431416857497640/20210813014126_1.jpg",
                "https://media.discordapp.net/attachments/623779998494490624/875430313189339196/20210813005604_1.jpg"
            ];
            var num = Math.floor(Math.random() * (imgArr.length));
            document.getElementById('workshop-img').style.backgroundImage = `url(`+imgArr[num]+`)`;
        </script>
      <div class="container">
        {{ content }}
      </div>
  